{% extends 'my_blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2 class="text-center">Reset Password</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}