{% extends 'my_blog/base.html' %}

{% block content %}
<main role="main">
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">
                    {{ post.created_at | date:"F d, Y" }}

                    by <a href="#">{{ post.author }}</a>
                </p>
                <p>{{ post.content }}</p>
            </div><!-- /.blog-post -->
            {% endfor %}

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>

        </div><!-- /.blog-main -->

        {% include 'my_blog/includes/blog_sidebar.html' %}

    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}