{% extends 'my_blog/base.html' %}

{% block content %}
<main role="main">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic">
                Latest Posts
            </h3>
            {% for post in posts %}
            <div class="blog-post">
                <div class="col-2">
                    <img src="{{ post.author.profile.image.url }}"
                         class="rounded mr-4 border border-outline-secondary float-left img-fluid" alt="...">
                </div>
                <div class="col">
                    <h2 class="blog-post-title"><a class="text-black" href="{% url 'my_blog:detail' post.pk %}">{{ post.title }}</a></h2>
                    <p class="blog-post-meta">
                        {{ post.created_at | date:"F d, Y" }}
                        by <a href="{% url 'my_blog:user_post' post.author_id %}">{{ post.author.first_name }} {{post.author.last_name }}</a>
                    </p>
                </div>
                <p>{{ post.content|safe|truncatechars:250 }}</p>

            </div><!-- /.blog-post -->
            {% endfor %}

            {% if is_paginated %}
            <div class="text-center mb-4">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary" href="?page=1">First</a>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                        <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
                </div>
            {% endif %}

        </div><!-- /.blog-main -->

        {% include 'my_blog/includes/blog_sidebar.html' %}

    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}