{% extends 'my_blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h3 class="pb-4 mb-4 font-italic">
                    Create New Post
                </h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if object %}
                        <button class="btn btn-outline-secondary" type="submit">Update Posts</button>
                    {% else %}
                        <button class="btn btn-outline-secondary" type="submit">Publish</button>
                    {% endif %}
                </form>
            </div>

        </div><!-- /.blog-main -->

        {% include 'my_blog/includes/blog_sidebar.html' %}

    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}