{% extends 'my_blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h3 class="pb-4 mb-4 font-italic">
                    Delete Post
                </h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>Are you sure you want to delete <strong>{{ post.title }}?</strong></p>
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                    <a class="btn btn-outline-info" href="{% url 'my_blog:detail' post.id %}">Cancel</a>
                </form>
            </div>

        </div><!-- /.blog-main -->

        {% include 'my_blog/includes/blog_sidebar.html' %}

    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}